<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delivery Fit</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
</head>
<body>

    <!-- Whatsapp -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <a href="https://api.whatsapp.com/send?phone=541166935000&text=Hola!%20Quisiera%20obtener%20mas%20informacion%20sobre%20FitUp" class="float" target="_blank">
    <i class="fa fa-whatsapp my-float"></i>
    </a>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-light  sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="images/logo.png" style="width: 13%;"></a>

            <!-- Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>



            <div class="collapse navbar-collapse" id="navbarResponsive" style="margin-left: 300px;">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#fit_up">FitUp®</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#productos">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contacto">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>




    <!-- Video -->
    <div id="home" class="container-fluid">
        <div class="row text-center">
            <!-- <div class="fixed-btn">
                <div class="d-grid gap-2 col-6 mx-auto">
                    <a href="https://www.youtube.com/watch?v=tHk1bLvvkuc" target="_blank">
                        <button class="btn btn-danger" style="position: sticky;" type="button">CLASE DE PRUEBA GRATUITA</button>
                    </a>
                </div>
            </div> -->

            <a class="videobtn" href="https://www.youtube.com/watch?v=tHk1bLvvkuc" target="_blank">
                <button class="btn btn-danger" style="position: sticky;" type="button">CLASE DE PRUEBA GRATUITA</button>
            </a>


            <video width="auto" controls autoplay muted>
                <source src="videos\intro.mp4" type="video/mp4">
            </video>
        </div>    
    </div>


    <!-- Welcome Section -->
    <div class="test">
    <div id="fit_up" class="container-fluid padding">
        <div class="row welcome text-center">
            <div class="col-12">
                <h1 class="display-4" style="color: #93cba3; font-weight: bold;">DELIVERY FIT</h1>
            </div>
            <!-- <hr class="my-4"> -->
            <div class="col-12">
                <div class="padddingg">
                    <h2>Sistema Fit Up®</h2>
                    <p class="lead">Fit Up® es el primer sistema de entrenamiento cuyo objetivo fundamental es optimizar el funcionamiento de nuestro metabolismo, mejorando la sensibilidad insulínica, y con ello minimizar la formación de tejido graso, tan asociado a las enfermedades de nuestros tiempos modernos (obesidad, diabetes, dislipemias, enfermedad cardiovascular, neurodegenerativas).</p>
                </div>
            </div>
        </div>
    </div>
    </div>


    <!-- <hr class="light"> -->


    <!-- Three Column Section -->
    <div id="productos" class="container-fluid padddingg" >

        <div class="row text-center padddingg">
            <!-- <hr class="my-4"> -->

            <div class="col-xs-12 col-sm-6 col-md-4">
                <!-- <button>PLAN PERZONALIZADO</button> -->
                 <h3>PLAN PERZONALIZADO</h3>
                 <p>PLAN PERZONALIZADO ONLINE FIT UP</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <!-- <button>FIT UP PRESENCIAL</button> -->
                 <h3>FIT UP PRESENCIAL</h3>
                 <p>FIT UP PRESENCIAL</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <!-- <button>FIT UP ONLINE</button> -->
                 <h3>FIT UP ONLINE</h3>
                 <p>CLASES DE FIT UP ONLINE</p>
            </div>
        </div>
    </div>

    <!-- <hr class="light"> -->

    <!-- Contacto Form -->
    <div class="test">
        <form action="https://formspree.io/f/myyvpzkl" method="POST" class="form">
            <div class="padddingg">
                <div class="form_container" id="contacto">
                    <h2 class="form_title">CONTACTANOS</h2>
                    <label class="form_container">
                        <input type="text" name="name" class="form_input" placeholder="Nombre" style="font-size: 15px; padding-left: 10px;">
                    </label>
                    <label class="form_container">
                        <input type="email" name="email" class="form_input" placeholder="Email" style="font-size: 15px; padding-left: 10px;">
                    </label>
                    <label class="form_container">
                        <textarea name="message" class="form_input" placeholder="Mensaje" style="font-size: 15px; padding-left: 10px; padding-bottom: 20px;"></textarea>
                    </label>
                    <button type="submit">Send</button>
                </div>
            </div>    
        </form>
    </div>

    <!-- <hr class="light"> -->

    <!-- Social Media -->
    <div class="container-fluid padding">
        <div class="row text-center padding">
            <div class="col-12">
                <h2>Redes Sociales</h2>
            </div>
            <div class="col-12 social padding">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-google-plus-g"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
    </div>

    <!-- <hr class="light"> -->


    <!-- Footer -->
    <footer>
        <div class="container-fluid padding" style="background-color: black; color: white;">
            <div class="row text-center">
                <div class="foot">
                    <p>+541166935000</p>
                    <p>info@chaupanza.com</p>
                    <p>100 Calle Falsa</p>
                    <p>Buenos Aires, Argentina, 1640</p>
                </div>

                <div class="col-12" style="margin-top: 20px">
                    <h5 style="font-size: 10px; color: #93cba3;">deliveryfit.com</h5>
                </div>
            </div>
        </div>
    </footer>


</body>
</html>